article {
    width: 100%;
    padding: 30px 5%;
    border-top: 1px solid var(--light-color);
}
article h2 {
    padding-left: 10px;
    border-left: 5px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}
article img {
    display: block;
    margin: 5% auto;
    border-left: 10px solid var(--light-color);
    border-bottom: 6px solid var(--light-color);
}
article p { 
    padding: 20px 3%; 
    font-size: .63em;
}
