article {
    width: 100%;
    padding: 30px 5%;
    border-top: 1px solid var(--light-color);
}
article h2 {
    padding-left: 10px;
    color: var(--text-color);
    background-color: var(--dark-color);
    border-left: 5px solid var(--light-color);
    border-bottom: 3px solid var(--light-color);
}
article figure {
    margin: 25px 0 10px;
}
article img {
    margin: 0 auto 5px;
    display: block;
    border-left: 10px solid var(--light-color);
    border-bottom: 6px solid var(--light-color);
}
article figcaption {
    text-align: center;
    font-size: .6em;
    font-style: italic;
}
article p { 
    padding: 20px 3% 0; 
    font-size: .8em;
}
article code {
    font-family: 'Roboto Mono', monospace;
    font-size: .65em;
    color: black;
}

article p a { color: var(--light-color); }
article p a:hover { color: var(--dark-color); }