article {
    width: 95%;
    padding: 30px 2.5%;
    border-top: 1px solid var(--light-color);
}
article h2 {
    max-width: 100%;
    padding: 0 0 5px 10px;
    color: var(--text-color);
    background-color: var(--dark-color);
    border-left: 5px solid var(--light-color);
    border-bottom: 3px solid var(--light-color);
}
article figure {
    margin: 25px 0 10px;
}
article img {
    margin: 0 auto 5px;
    display: block;
    border-left: 10px solid var(--light-color);
    border-bottom: 6px solid var(--light-color);
}
article figcaption {
    text-align: center;
    font-size: .6em;
    font-style: italic;
}
article p { 
    padding: 2.5% 2% 0; 
    font-size: .7em;
}
article .codeRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article p a { color: var(--light-color); }
article p a:hover { color: var(--dark-color); }