pre {
    width: calc(80*(.4em + 0.4vw));
    margin: 2em 10px;
    padding: 0.5em;
    overflow: scroll;
    font-size: calc(.4em + 0.4vw);
    text-align: left;
}
.token { font-family: 'Roboto Mono', monospace; }
.token-line { display: table-row; }
.lineNumber {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
    user-select: none;
    opacity: 0.5;
}
.lineContent { display: table-cell; }