.head {
    width: 91%;
    border-left: 5px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}
.head:hover {
    border-left: 5px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}
.lhs {
    display: flex;
    justify-content: flex-start;
}
.logo {
    min-width: 40px;
    margin: 8px 10px 10px;
    display: flex;
    justify-content: center;
}
.icon { fill: var(--text-color); }
#dojo-icon {
    fill: var(--primary-color);
    background: var(--text-color);
}
.titles { 
    padding-right: 30px;
    line-height: 1; 
}
.subtitle {
    font-style: italic;
    font-size: .65em;
}
.date {
    min-width: 50px;
    padding: 10px 0;
    font-size: .55em;
    text-align: right;
}
.body {
    width: 100%;
    padding: 20px 5%;
    text-align: left;
    font-size: .8em;
}
.body ul {
    margin: 0 2%;
    list-style-type: disc;
}
.body ul ul {
    margin-left: 7%;
    list-style-type: circle;
}