.head {
    width: 100%;
    margin: 0 20px;
    padding: 5px;
    border-left: 5px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}
.head:hover {
    border-left: 5px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}
.subtitle {
    font-style: italic;
    font-size: 14px;
}
.date {
    font-weight: 600;
}
.body {
    width: 100%;
    padding: 20px 60px;
    text-align: left;
    font-size: 13px;
}
.body ul {
    margin: 0 30px;
    list-style-type: disc;
}
.body ul ul {
    list-style-type: circle;
}