/* footer */
footer {
    min-height: 75vh;
    width: 100%;
    padding: 10vh 0;
}
#theme { text-align: center; }
#copyright { 
    margin: 10px 0 0; 
    color: var(--light-color);
    text-align: center;
}
#socialsList {
    display: flex;
    justify-content: center;
    padding: 15px 0;
} 
#themePrompt { 
    color: var(--light-color); 
    font-weight: 600;
}
#socialsList .c-icon { 
    margin: 0 10px;
    fill: var(--text-color); 
    cursor: pointer;
}
#socialsList .c-icon:hover { fill: var(--light-color); }
#poweredBy { 
    padding: 20px 0 0; 
    display: flex;
    justify-content: center;
}
#poweredBy span { 
    display: flex;
    align-items: center;
}
#poweredBy span.fine { 
    height: 100%;
    margin-right: 5px; 
    line-height: 1.5;
}
#poweredBy .c-icon { 
    margin: 0 5px;
    fill: var(--text-color); 
}
#returnToTop:hover { color: var(--light-color); }
#returnToTop { color: var(--text-color); }