/* footer */
footer {
    display: block;
    padding: 30px 0;
    text-align: center;
}
#copyright { 
    margin: 10px 0 0; 
    color: var(--light-color);
}
#socialsList {
    display: flex;
    justify-content: center;
    padding: 0 0 15px;
} 
#themePrompt { 
    color: var(--light-color); 
    font-weight: 600;
}
#socialsList .c-icon { 
    margin: 0 10px;
    fill: var(--text-color); 
    cursor: pointer;
}
#socialsList .c-icon:hover { fill: var(--light-color); }
#poweredBy { 
    padding: 20px 0 0; 
    display: flex;
    height: 30px;
    justify-content: center;
}
#poweredBy span { margin-right: 5px; }
#poweredBy .c-icon { 
    vertical-align: top;
    margin: 0 3px;
    fill: var(--text-color); 
}