/* variables */
:root {
    --theme: "alpine";
    --primary-color: #6c687f;
    --light-color: #9994b8;
    --dark-color: #585568;
    --text-color: #ffffff;
}

/* resets */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-family: "Lato", sans-serif; 
    font-size: 100%;
    vertical-align: baseline;
}

/* decorations */
.hide {
    display: none;
}
.em {
    font-style: italic;
}
a { text-decoration: none; }
ol, ul { list-style: none; }

/* custom tag stylings */
body {
    background-color: var(--dark-color);
    color: var(--text-color);
    font-size: 1.3em;
}
a { color: var(--primary-color); }
a:hover { 
    color: var(--dark-color); 
}
p { 
    line-height: 1.8; 
}

/* fonts */
h1 {
    padding: 0 5px;
    display: inline;
    font-family: "Roboto Mono", monospace;
    font-size: 1.7em;
    background-color: var(--dark-color);
}
h2 {  
    color: var(--light-color);
    font-family: "Roboto Mono", monospace;
    font-size: 1.3em;
}
.fine { 
    font-size: .62em; 
    font-weight: 400;
}
.textWhite { color: #ffffff; }
.textPrimary { color: var(--primary-color); }
.textLight { color: var(--light-color); }
.textDark { color: var(--dark-color); }

/* images */
img.circle { 
    border-radius: 50%;
    border-left: 15px solid var(--light-color);
    border-bottom: 6px solid var(--light-color);
}

/* image media query */ 
@media only screen and (min-width: 1024px) {
    img.horizontal { max-width: 60%; }
    img.square { max-width: 30%; }
    img.vertical { max-width: 50%; }
}
@media only screen and (max-width: 1023.9px) {
    img.horizontal { max-width: 90%; }
    img.square { max-width: 70%; }
    img.vertical { max-width: 70%; }
}

/* main */
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin-top: 40px;
    position: relative;
}