.head {
    width: 90%;
    padding-bottom: 10px;
    margin: 20px 0;
    border-left: 8px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.lhs {
    display: flex;
    justify-content: flex-start;
}
.logo {
    height: 35px;
    min-width: 40px;
    margin: 8px 10px 10px;
    display: flex;
    justify-content: center;
}
.icon { fill: var(--text-color); }
.titles { 
    padding-right: 30px;
    line-height: 1; 
}
.titles h2 { margin-bottom: 5px; }
.subtitle { 
    color: var(--text-color);
    font-size: calc(10px + .5vw); 
}
.date {
    color: var(--text-color);
    min-width: 16%;
    padding: 10px 0;
    font-size: calc(10px + .5vw);
    text-align: right;
}
