/* section */ 
section {
    min-height: 92vh;
    padding: 10px; 
    text-align: center;
}
section a:hover { color: var(--dark-color); }
section a { color: var(--light-color); }

/* bio section */
.header { 
    min-height: 95vh;
    width: 100%;
    border-bottom: 1px solid var(--light-color);
}
.header .sectionTitle {
    padding: 5vh 0 2vh;
}
.bio {
    margin: 30px auto -30px;
    padding: 0 5%; 
    display: flex;
    flex-wrap: wrap;
}
.bio a { color: var(--light-color); }
.bio a:hover { color: var(--dark-color); }
.bio img { 
    margin: 0 auto 30px; 
}
.bio span.bioText {
    margin: auto;
    padding: 20px;
    font-size: calc(14px + 1.3vw);
}
#themeLink {
    font-weight: bold;
    font-size: calc(16px + 1vw);
}

/* default section styling */
.sectionTitle {
    min-height: 5vh;
    padding: 7vh 0;
}
.sectionTitle a:hover { color: var(--text-color); }
.sectionTitle a {
    padding: 0 5px;
    display: inline;
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
}
.sectionTitle h1 {
    border-left: 5px solid var(--light-color);
    border-bottom: 3px solid var(--light-color);
}
.sectionBody {
    padding: 10px 50px;
    margin: 25px 0;
    background-color: var(--primary-color);
    text-align: center;
}
.wrapper {
    min-height: 60vh;
    padding: 0 0 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.block { margin: 20px 0; }
.block h2 { margin: 10px; }
.block p { 
    font-size: calc(14px + .6vw); 
}

/* icons */
.iconRow { font-size: 2.3em; }
.iconRow .c-icon, .iconRow .icon { 
    margin: 0 10px; 
    fill: var(--text-color);
}
.labelledIconList { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}
.labelledIconList li { padding: 7px 20px 7px 5px; }
.labelledIconList h3 { 
    display: inline-block;
    margin-left: 20px; 
}

#sqliteIconXl svg {
    height: 45px !important;
    width: 45px !important;
    margin: 0;
}
#sqliteIconLg svg {
    height: 32px !important;
    width: 32px !important;
}
.labelledIconList svg { 
    margin-left: 0px;
    color: var(--light-color);
    vertical-align: middle; 
}

/* section borders */
.topBorder { border-top: 1px solid var(--light-color); }
.leftBorder { border-left: 1px solid var(--light-color); }

/* section media query */ 
@media only screen and (min-width: 1024px) {
    section { width: calc(50% - 22px); }
    section.notFirstRow { border-top: 1px solid var(--light-color); }
    section.notFirstCol { border-left: 1px solid var(--light-color); }
    .sectionBody { width: 50%; }
    .bio span.bioText {
        max-width: 50%;
    }
    .bio img {
        height: 50%;
    }
}
@media only screen and (max-width: 1023.9px) {
    section { 
        width: 100%; 
        border-top: 1px solid var(--light-color);
    }
    section:first-of-type { border: 0; }
    .sectionBody { width: 70%; }
    .bio span.bioText {
        max-width: 90%;
    }
    .bio img {
        height: 250px;
    }
}